.App {
  text-align: center;
}

@font-face {
  font-family: 'SangSangShinb7';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_three@1.1/SangSangShinb7.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'UhBeeRami';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_five@.2.0/UhBeeRami.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  }

  .uhbee-rami-font {
    font-family: 'UhBeeRami', sans-serif;
  }

  .sangsang-shinb7-font {
    font-family: 'SangSangShinb7', sans-serif;
  }